---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
		tag?: string[];
	};
}

const {
    content: {title, description, pubDate, updatedDate, heroImage, tag},
} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description}/>
    </head>
    <body class="bg-zinc-100">
        <Header />
        <main class="flex flex-col mx-auto max-w-4xl px-4 py-20">
            <article class="prose max-w-none prose-lg md:prose-lg prose-a:text-green-500  prose-headings:text-zinc-900 prose-strong:text-zinc-800 prose-h2:text-2xl">
                {heroImage && (
					<img
						width={870}
						height={360}
						src={heroImage}
						alt=""
						class=""
					/>
				)}
                <h1 class="text-2xl md:text-4xl font-bold " style="margin: 0">{title}</h1>
                {pubDate && <time class=" text-stone-700">{pubDate}</time>}
				{updatedDate && <div class="text-stone-500 ">Last updated on <time>{updatedDate}</time></div>}
                <slot />
            </article>
        </main>
    </body>
</html>